div.table_container {
    max-width: 1000px;
}

table.special_table {
    width: 80%;
    margin: auto;
    font-family: arial;
    border: solid 1px #d3d3d3;
    border-collapse: collapse;
}

.special_table th {
    text-align: left;
    color: #ffffff;
}

.special_table th, td {
    padding: 7px;
    border: solid 1px #d3d3d3;
}

.special_table thead {
    background-color: #3498db;
}

.special_table tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}