@media (max-width: 760px) {
    .special_table {
        width: 100%;
    }
}

@media (min-width: 761px) {
    .special_table {
        width: 750px;
        margin: auto;
    }
}

.table_container {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.special_table {
    font-family: Arial, sans-serif;
    font-size: 19px;
    border: solid 1px #d3d3d3;
    border-collapse: collapse;
}

.special_table th {
    font-weight: bold;
    color: #fff;
}

.special_table th,
.special_table td {
    padding: 13px 9px;
    text-align: left;
    border: solid 1px #d3d3d3;
}

.special_table thead {
    background-color: #3498db;
}

.special_table tbody tr:nth-child(odd) {
    background-color: #eee;
}

.special_table tbody tr:nth-child(even) {
    background-color: #fff;
}