@media (max-width: 746px) {
    body {
        padding: 0 5px;
    }

    .form_container {
        width: 100%;
    }
}

@media (min-width: 747px) {
    .form_container {
        width: 736px;
        margin: auto;
    }
}

.form_container,
.form_container div,
.form_container form,
.form_container input,
.form_container textarea {
    box-sizing: border-box;
}

.form_container h1,
.form_container form,
.form_container input,
.form_container textarea,
.form_container button {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.form_container {
    color: #676565;
}

.form_container form {
    background: #feeed6;
    padding: 18px;
}

.form_container h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: 5px;
    padding-left: 17px;
}

.form_container b {
    font-weight: bold;
}

.form_container input,
.form_container textarea {
    width: 100%;
    margin: 7px 0 18px 0;
    border: none;
    padding: 10px 12px;
}

.form_container textarea {
    min-height: 113px;
    resize: vertical;
}

.form_container button {
    background-color: #378db2;
    color: #fff;
    padding: 8px 16px;
    margin-top: 16px;
    border: none;
    font-weight: bold;
    float: right;
}

.form_container button:hover {
    cursor: pointer;
    background: #4da9d0;
}

.empty_element {
    clear: both;
}