.converter_container {
    width: 100%;
    background: #008b8b;
}

.temperature_result {
    width: 50%;
    min-height: 100px;
    float: left;
}

.data_container,
.converter_input,
.temperature_result,
.converter_container {
    box-sizing: border-box;
}

.data_container,
.data_container input,
.data_container button {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.converter_container,
.data_container div,
.temperature_result p {
    padding: 10px;
}

.data_container {
    max-width: 700px;
    margin: auto;
    text-align: center;
    background: #e0ffff;
}

.data_container h1 {
    font-size: 2em;
    line-height: 1em;
}

.data_container input,
.data_container button {
    padding: 0.5em;
    border-radius: 0;
    outline: 0;
}

.data_container input {
    border: none;
    width: 40%;
}

.data_container button {
    border: #ccc outset 1px;
    font-weight: bold;
    background: #fff;
}

.data_container button:hover {
    background: #008b8b;
    color: #fff;
    border-style: inset;
    cursor: pointer;
}

.error_message {
    min-height: 16px;
    color: #ff0000;
}

.empty_element {
    clear: both;
}