body {
    padding: 5px;
}

.special_text {
    box-sizing: border-box;
    max-width: 740px;
    margin: auto;
    padding: 9px;
    background: #feeed6;
    color: #676565;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    text-align: justify;
}

.special_text h1 {
    text-align: left;
    font-size: 1.8em;
    line-height: 1.1em;
    margin-bottom: 11px;
}

.special_text p + p {
    margin-top: 10px;
}

.special_text b {
    color: #378db2;
    font-weight: bold;
    margin-left: -15px;
}

.special_text p {
    text-indent: 15px;
}