.todo_list_container {
    max-width: 850px;
    margin: auto;
}

.input_container {
    width: 40%;
}

.elements_container {
    width: 60%;
    background: #f0e68c;
}

.input_container,
.elements_container {
    float: left;
    min-height: 220px;
}

.todo_list_container,
.input_container,
.elements_container,
.error_message,
.input_container input,
.input_container button {
    box-sizing: border-box;
}

.todo_list_container,
.todo_list_container input,
.todo_list_container button,
.elements_container input,
.elements_container button,
.error_message {
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.todo_list_container,
.input_container,
.elements_container {
    padding: 15px;
}

.todo_list_container h1 {
    font-size: 2em;
    margin: 5px;
}

.error_message {
    color: #ff0000;
}

.input_container input,
.elements_container input,
.input_container button,
.elements_container button {
    border-radius: 0;
    outline: 0;
}

.input_container input,
.input_container button {
    padding: 10px;
    margin: 5px;
    width: 85%;
}


.input_container button {
    background: #f0e68c;
}

.input_container button:hover,
.elements_container button:hover {
    cursor: pointer;
    border-style: inset;
    background: #d3d3d3;
}

.elements_container ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 20px;
    padding: 10px;
}

.elements_container li + li {
    margin-top: 6px;
}

.elements_container span,
.elements_container button,
.elements_container input {
    margin: 0 4px;
}

.elements_container button {
    font-size: 0.8em;
    height: inherit;
    border-width: 2px;
    border-style: outset;
    background: #fff;
}

.elements_container input {
    width: 150px;
    font-size: 0.8em;
}

.empty_element {
    clear: both;
}