@media (max-width: 870px) {
    .todo_list_container {
        width: 100%;
    }
}

@media (min-width: 871px) {
    .todo_list_container {
        width: 850px;
        margin: auto;
    }
}

.todo_list_container,
.todo_list_container input,
.todo_list_container button,
.elements_container input,
.error_message p {
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.todo_list_container,
.input_container,
.elements_container {
    padding: 15px;
}

.todo_list_container h1 {
    font-size: 2em;
    padding: 0 0 15px 15px;
}

.todo_list_container,
.input_container,
.elements_container,
.error_message {
    box-sizing: border-box;
}

.input_container,
.elements_container {
    float: left;
    min-height: 220px;
}

.input_container {
    width: 40%;
}

.elements_container {
    width: 60%;
}

.error_message {
    width: 100%;
    color: red;
    padding: 5px;
}

.empty_element {
    clear: both;
}

.elements_container {
    background: #f0e68c;
}

.input_container input,
.elements_container input,
.input_container button,
.elements_container button {
    border-radius: 0;
    outline: 0;
}

.input_container input,
.input_container button
{
    padding: 10px;
    margin: 5px;
}

.input_container input {
    width: 80%;
}

.input_container button {
    background: #f0e68c;
}

.input_container button:hover,
.elements_container button:hover {
    cursor: pointer;
    border-style: inset;
    background: lightgray;
}

.elements_container ul {
    list-style-position: outside;
    list-style-type: disc;
}

.elements_container li {
    margin-left: 15px;
}

.elements_container li + li {
    margin-top: 6px;
}

.elements_container span,
.elements_container button,
.elements_container input {
    margin: 0 4px;
}

.elements_container button {
    font-size: 0.8em;
    height: inherit;
    border-width: 2px;
    border-style: outset;
    background: #fff;
}

.elements_container input {
    min-width: 150px;
    font-size: 0.8em;
}